.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5em;
    color: var(--title-text-color);

    @media screen and (min-width: 1200px) {
      line-height: 1.15em;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (max-width: 479px) {
    width: 100%;
  }
  }

  &__field:not(first-child) {
    margin-top: 10px;
  }

  &__descr {
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.01em;
  }

  &__input {
    width: 370px;
    height: 40px;
    padding-left: 50px;
    border: 1px solid var(--input-dorder-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
    width: 100%;
  }

    @media screen and (min-width: 1200px) {
      width: 448px;
    }
  }

  &__input:hover,
  &__input:focus-within,
  &__comment:hover,
  &__comment:focus-within {
    border-color: var(--accent-color);
    outline: none;
  }

  &__input:hover + &__icon,
  &__input:focus-within + &__icon {
    fill: var(--accent-color);
  }

  &__comment {
    width: 370px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--input-dorder-color);
    border-radius: 4px;
    resize: none;
    margin-top: 4px;
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
    width: 100%;
  }

    @media screen and (min-width: 1200px) {
      width: 448px;
    }
  }

  &__comment::placeholder {
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    margin-top: 4px;
    fill: var(--title-text-color);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__checkbox {
    margin-top: 20px;
  }

  &__btn {
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
  }

  &__btn:hover,
  &__btn:focus {
    background-color: #188ce8;
  }
}
