.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 479px) {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-color);
    cursor: pointer;
    color: #000000;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close-icon {
    fill: currentColor;
  }

  &__close-btn:hover,
  &__close-btn:focus {
    color: var(--accent-color);
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
