.overlay {
  position: relative;
  overflow: hidden;

&__descr {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  overflow: auto;

  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
